@import "variable";
@import "reuse";
@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

h3 {
  // display: inline-block;
  color: $main-text-color;
  // max-width: 90vw;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // border-bottom: 2px solid white;
  letter-spacing: 2px;
  // left: 50%;
  // position: absolute;
  margin: 0 auto;
  // transform: translateX(-50%);
}

.parent {
  max-width: 90vw;
  width: 1400px;
  margin: 0 auto;
}

header {
  color: $main-text-color;
  margin-bottom: 50px;
  @include display(space-between, row);
  padding: 20px 200px;
  .logo {
    font-size: 25px;
    font-family: map-get($font-family, logo);
  }

  .mid {
    position: relative;
    ul {
      display: flex;
      list-style-type: none;
      li {
        font-size: 20px;
        cursor: pointer;
        padding: 0 10px;
        margin: 0 10px;
        user-select: none;
        display: inline-block;
      }
    }
  }

  .btn button {
    @include btnpro;
  }
}

.bot {
  position: absolute;
  height: 3px;
  background-color: blue;
  transition: all 0.1s ease-in-out;
}

.humberger {
  display: none;
  cursor: pointer;
  div {
    width: 35px;
    height: 2px;
    background-color: white;
  }
  .mid {
    margin: 6px 0;
  }
}

.res-hum {
  background-color: rgba(14, 21, 58, 0.9);
  position: fixed;
  width: 100%;
  top: 0px;
  color: $main-text-color;
  text-align: center;
  font-size: 17px;
  padding: 0;
  height: 0;
  transition: all 0.2s ease;
  overflow: hidden;
  #about {
    margin: 30px 0;
  }
  button {
    @include btnpro;
  }
}

.show-hum {
  padding: 70px;
  overflow: auto;
  height: auto;
}

.humberger div:last-child {
  width: 20px;
  animation: all 5s ease-in-out;
}

.show.three{
  display: none;
}

.show.one{
  transform: rotate(45deg);
  margin-top: 10px;
}

.show.two{
  transform: rotate(135deg);
  margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .img-container {
    .tow-img {
      display: none;
    }
  }
  .home {
    .text {
      font-size: 70px;
    }
  }
  .album {
    @include display(center, column);
  }
}

@media only screen and (max-width: 992px) {
  header {
    padding: 20px 50px;
  }
  .img-container {
    display: none;
  }
  .offer{
    margin-top: 50px;
  }
  .home {
    .text {
      font-size: 55px;
    }
  }
}

@media only screen and (max-width: 900px){
  .pare{
    .page{
      @include display(center,column);
    }
  }

  .middle_tech{
    @include display(center,column);
  }

}

@media only screen and (max-width: 768px) {
  header .logo {
    font-size: 20px;
  }
  header .mid ul li {
    font-size: 17px;
  }
  .home {
    .text {
      font-size: 40px;
    }
  }

  .album_text{
    font-size: 17px;
  }
  .offer{
    font-size: 30px;
  }
  .footer{
    font-size: 16px;
    span{
      font-size: 18px;
    }
  }
  .footer-album{
    font-size: 16px;
    span{
      font-size: 18px;
    }
  }
  .footer-about {
    text-align: center;
    color: $main-text-color;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 16px;
  
    span {
      color: #22d1ee;
      font-size: 20px;
      font-family: map-get($font-family, name);
    }
  }
  .footer-album {
    text-align: center;
    width: 100%;
    color: $main-text-color;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 15px;
  
    span {
      color: #22d1ee;
      font-size: 20px;
      font-family: map-get($font-family, name);
    }
  }
}

@media only screen and (max-width: 576px) {
  header .mid ul,
  .btn {
    display: none;
  }

  .humberger {
    display: block;
  }
  header {
    padding: 20px 30px;
  }
  .image{
    width: 120px;
    height: 120px;
  }
  .pare h1{
    font-size: 30px;
  }
  .pare .page .about-page{
    width: 100%;
  }
  .play-text{
    margin: 50px 0;
  }
  .footer-album{
    margin-top: 100px;
  }
}
